<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_Library.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=(localdb)\test;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DB_Library.Properties.Settings.libraryConnectionString1"
            connectionString="Data Source=(localdb)\mtay2;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>